@import url('./general/index.css');
@import url('./layout/index.css');

.mainBody{
    display: flex;
    align-items: center;
    justify-items: center;
    height: 800px;
    width: 100%;
}
.mainBody > .loginform{
    position: relative;
    width: 18%;
    margin: 0 auto;
    padding: 60px 40px;
    border: 1px solid black;
    border-radius: 10px;
}
.mainBody > .loginform::before{
    position: absolute;
    content: " ";
    top: -40px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    padding: 5px;
    background-color: white;
    background-image: url(../images/formLogo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-origin: content-box;
    border: 1px solid #777777;
    border-radius: 50%;
}

.mainBody > .loginform > label{
    font-size: 27px;
    color: var(--main-color-dark);
}
.mainBody > .loginform > input{
    width: 100%;
    height: 35px;
    border-radius: 2px;
    margin: 20px 0px;
}
.mainBody > .loginform > input[type="text"]{
    padding: 18px 10px;
    border: 1px solid #777777b2;
}
.mainBody > .loginform > input[type="text"]::placeholder,.mainBody > .loginform > .password > input::placeholder{
    font-size: 15px;
    color: #6F6F6F;
}
.mainBody > .loginform > input[type="submit"]{
    font-size: 20px;
    height: 40px;
    color: white;
    background-color: var(--main-color);
    border: none;
    margin-bottom: 0px;
    border-radius: 7px;
    cursor: pointer;
}
.mainBody > .loginform > input[type="submit"]:hover{
    background-color: var(--main-color-light);
}
.mainBody > .loginform > p{
    padding: 15px 0px 0px 2px;
    font-size: 15px;
}
.mainBody > .loginform > p > a{
    color: #FF3D00;
}
.mainBody > .loginform > .password > input{
    width: 100%;
    height: 100%;
    padding: 18px 10px;
    border: 1px solid #777777b2;
    border-radius: 2px;
    
}
.password{
    position: relative;
    margin: 20px 0px;
    width: 100%;
    height: 35px;
    border-radius: 2px;
}
.privacy{
    position: absolute;
    top: calc(50% - 13px);
    right: 5px;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-origin: content-box;
}
.private{
    background-image: url(../images/Privacy/private.png);
}
.public{
    background-image: url(../images/Privacy/public.png);
}