@import url("./general/index.css");
@import url("./layout/index.css");
@import "./general/variables.css";

.mainBody {
  height: 800px;
  width: 100%;
  margin-top: 20px;
  user-select: none;
}
/*     BAR      */
.bar {
  display: grid;
  grid-template-columns: 180px 20px 100px 20px auto;
  padding: 0 auto;
  user-select: none;
  height: 42px;
  width: 100%;
  background-color: var(--navy-A100);
}
.tab {
  height: 42px;
  display: flex;
  float: left;
  color: white;
  font-size: 35;
}
.barDelm {
  fill: var(--navy-A100);
  stroke: none;
}
.activeTab {
  background-color: var(--main-navy) !important;
  fill: var(--main-navy) !important;
}
.plan,
.payment {
  padding: 0px 0px 0px 15px;
}
.course {
  padding: 0px 0px 0px 35px;
}
/*   FORM   */
.form {
  width: 100%;
}
.display {
  margin: 55px 0px 40px 0px;
  display: flex !important;
  flex-direction: column !important;
  height: 500px;
  animation: appear;
  animation-duration: 0.5s;
}
/*FIRST PAGE*/
.formBody[data-tab="1"] {
  display: none;
  position: relative;
  width: 100%;
}
/*          ROWS            */
.firstRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.secondRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.Row {
  place-items: center center;
  margin: 40px 60px;
}
.Row > div {
  position: relative;
  width: 215px;
  height: 145px;
  border: 2px solid #bbbbbb;
  border-radius: 16px;
}
.Row > div:hover {
  border: 2px solid var(--main-color-light);
  border-radius: 16px;
}
.Row input[type="checkbox"],
.Row input[type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 215px;
  height: 145px;
  opacity: 0;
}
.Row > div > div {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 215px;
  height: 145px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 5px;
}
.Row img {
  width: 65px;
  height: 65px;
  padding: 5px 0px;
}
.Row p {
  font-size: 20px;
}
/*SECOND PAGE*/
.formBody[data-tab="2"] {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.planCard {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 500px;
  width: 50%;
  border: 2px solid #c4c4c4;
  border-radius: 10px;
  margin: 20px 0px;
  padding: 10px;
}
.body {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 0 0 50px 0;
  border-bottom: 1px solid var(--main-navy);
}

/***************************/
.body > .previousCol {
  display: flex;
  justify-self: end;
}
.body > .nextCol {
  display: flex;
  justify-self: start;
}
:is(.previousCol, .nextCol) > button {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--main-color-dark);
  border-radius: 10px;
}
:is(.previousCol, .nextCol)> button:hover {
  border: 1px solid var(--main-color);
}
:is(.previousCol, .nextCol)> button > div {
  border: 10px solid transparent;
}
/* NEXT */
.nextCol > button > div {
  margin: 17px 2px 17px 17px;
  border-left: 15px solid var(--main-color-dark);
}
.nextCol > button:hover > div {
  border-left: 15px solid var(--main-color);
}

/* previous */
.previousCol > button > div {
  margin: 17px 17px 17px 5px;
  border-right: 15px solid var(--main-color-dark);
}
.previousCol > button:hover > div {
  border-right: 15px solid var(--main-color);
}
/*********************************/
.plans {
  display: flex;
  flex-direction: row;
  justify-content: start;
  overflow-x: hidden;
  width: 600px;
}
.plans > div {
  min-width: 100%;
}
.body > div h1 {
  color: #ff5500;
  text-align: center;
  margin: 20px 0px 30px 0;
}
.body > div h3 {
  border-bottom: 2px solid #030303;
}
.options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 50px;
}
.options > div {
  position: relative;
  width: 80px;
  padding: 40px 10px;
  border-radius: 5px;
  text-align: center;
}
.options > div > * {
  cursor: pointer;
}
.options > div > input {
  position: absolute;
  z-index: 0;
  top: -3px;
  left: -5px;
  width: 100%;
  height: 100%;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background: #ffffff;
  border: 2px solid #c4c4c4;
  border-radius: 5px;
}
.options > div > label {
  position: relative;
  z-index: 1;
  pointer-events: none;
}
.options > div > input[type="radio"]:checked {
  border: 2px solid #ff5500;
}

.hide {
  display: none;
}
.show {
  display: block !important;
}
.hiding {
  animation: fade;
  animation-duration: 2s;
}
.showing {
  animation: appear;
  animation-duration: 1s;
}
#loader {
  width: 100px;
  height: auto;
  display: none;
}

/******************************/

.planCard > p {
  position: relative;
  text-align: center;
  color: rgb(216, 84, 32);
  font-size: 250%;
  bottom: 30px;
}

/*THIRD PAGE*/
.formBody[data-tab="3"] {
  display: none;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  border: 2px solid #858585;
  border-radius: 5px;
  padding: 5px;
}
.container nav {
  border-right: 2px solid #858585;
}
.container nav ul {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  margin: 0px 10px;
}
.container nav ul li {
  display: block;
  justify-self: flex-start;
  color: #ff5500;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 20px;

  border-top: 2px solid #858585;
}
.container nav ul li.selected {
  color: #000000;
}
.container nav ul li:last-of-type {
  border-bottom: 2px solid #858585;
}

.container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-self: center;
  max-width: 550px;
  padding: 15px;
  font-size: 20px;
}
/***********************************/
.failed {
  position: absolute;
  top: calc(50%-25px);
  left: calc(50%-25px);
  z-index: 100;
  font-size: 25px;
  color: white;
  background-color: var(--main-red);
  width: 50px;
  height: 50px;
  padding: 5px;
  animation: fade;
  animation-duration: 2s;
  animation-delay: 3s;
  display: none;
}
@keyframes fade {
  from {
    display: block !important;
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
@keyframes appear {
  from {
    display: none !important;
    opacity: 0;
  }
  to {
    opacity: 1;
    display: block;
  }
}
/***********************************/
/*          BUTTONS             */
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 auto;
}
.button {
  width: 235px;
  height: 54px;
  font-size: 20px;
  background-color: #2670c7;
  color: white;
  border-radius: 27px;
  border: none;
  margin: 20px;
  cursor: pointer;
}
.button:hover {
  background-color: #4184d1;
}
.button:disabled {
  background-color: #bbbbbb;
}

/* SUCCESSFUL PAGE  */
.successMsg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.successMsg div {
  text-align: center;
  padding: 40px 100px;
  border: 1px solid black;
  border-radius: 10px;
}
.successMsg div header {
  font-size: 30px;
  color: #ff5500;
}
.successMsg div p {
  font-size: 25px;
}

.successMsg div button {
  color: white;
  background-color: #2670c7;
  font-size: 25px;
  border: none;
  border-radius: 10px;
  padding: 10px;
}
.successMsg div button:hover {
  background-color: #2e75c7;
}
.successMsg div button:active {
  background-color: #164d8b;
}
