@import url("./general/index.css");
@import url("./layout/index.css");
@import "./general/variables.css";

.mainBody {
  display: flex;
  align-items: center;
  position: relative;
  height: 800px;
  width: 100%;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat, repeat;
  background-position: center, center;
  background-size: cover;
}

.mainBody::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.4;
  background-color: var(--main-black);
}
.mainBody > h2 {
  width: 100%;
  backdrop-filter: sepia(50%) hue-rotate(180deg);
  padding: 20px;
}
.mainBody > h2 > span {
  display: block;
  width: 50%;
  margin: 0 auto;
  font-size: 45px;
  color: var(--main-white);
  text-align: center;

  text-shadow: 1.5px 0.5px 1px var(--navy-A200), 2.5px 1px 1px var(--navy-A100);
  animation: show 2.5s forwards;
  transform: translateY(-10px);
  opacity: 0;
}
@keyframes show {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/*             OFFER AREA                */
.offerArea {
  display: block;
  margin: 40px 0px 0px 0;
  width: 100%;
}
.offerArea button {
  background-color: var(--main-white);
}
/* HEADER */
.offerArea > header {
  display: block;
  text-align: center;
  justify-self: center;
  align-self: center;

  font-size: 1.75rem;
  padding: 10px;
  margin: 0 auto;
  background-color: var(--main-navy);
  color: var(--main-white);
}
/*  Offers Body */
.body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0px;
}
/*  Step buttons    */
.body > .previousCol {
  display: flex;
  justify-self: end;
}
.body > .nextCol {
  display: flex;
  justify-self: start;
}
:is(.next, .previous) {
  cursor: pointer;
  border: 1px solid var(--main-color-dark);
  border-radius: 10px;
}
:is(.next, .previous):hover {
  border: 1px solid var(--main-color);
}
:is(.next, .previous) > div {
  border: 10px solid transparent;
}
/* NEXT */
.next > div {
  margin: 17px 2px 17px 17px;
  border-left: 15px solid var(--main-color-dark);
}
.next:hover > div {
  border-left: 15px solid var(--main-color);
}

/* previous */
.previous > div {
  margin: 17px 17px 17px 5px;
  border-right: 15px solid var(--main-color-dark);
}
.previous:hover > div {
  border-right: 15px solid var(--main-color);
}

/* OFFERS */
.body > .offers {
  display: flex;
  flex-direction: row;
  justify-content: start;
  overflow: hidden;
  gap: 120px;
  width: 80%;
}
/*Scroll Bar*/
.offers::-webkit-scrollbar {
  display: none;
  width: 10px;
}
.offers::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.offers::-webkit-scrollbar-thumb {
  background: #888;
}

.offers::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/***********/
.offer {
  height: 400px;
  min-width: 300px;
  border: 2px solid #c4c4c4;
  border-radius: 10px;
  padding: 30px;
}
.offer:hover {
  border: 2px solid var(--main-color-light);
}
.offer > header {
  font-size: 35px;
  text-align: center;
  color: var(--main-color-dark);
}
.offer article {
  border-bottom: 1px solid #858585;
}
.offer article > p {
  color: #424242;
}
.offer > p {
  font-size: 35px;
  text-align: center;
  color: var(--main-color);
}
.offer > p > span {
  text-decoration: line-through;
  color: var(--main-red);
}
